body{
    background-color: rgba(47, 64, 41, 0.9);
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}

a {
    text-decoration:none;
}

.card-title{
    color: rgba(47, 64, 41, 0.9);}

.logo {
    height:100px;
    display: flex;
    justify-content: center;
    margin: 0 0 3em 0;
}

.logo-img {
    align-self: flex-end;
}

.navbar {
    height:50px;
    display: flex;
    justify-content: center;
}

.header-nav-item {
    display: inline-block;
}

.preFade {
    color: rgba(250, 250, 250, 0.7);
    text-decoration: none;
    padding: 1em;
}

.proverb {
    height: 200px;
    display: flex;
    justify-content: center;
    color: rgba(250, 250, 250, 0.7);
}

.table{
    margin: 0 3em 0 2em;
    width: 80vw;
    color: rgba(250, 250, 250, 0.7);
}

h3 {
    align-self: center;
    font-size: 1.5em;
}



@media screen and (min-width: 481px){
    #about {
        margin: 0 15%;
        color: rgba(250, 250, 250, 0.7);
        font-size: 1em;}

    .profile {
    width: 30vw;
    }

    .copyright {
    margin: 4vh 40vw;
    color: gray }

    .contact{
    margin: 0 20%;
    color: rgba(250, 250, 250, 0.7);
    font-size: 1em;}

    .icon {
    moz-transform: scale(2);
    ms-transform: scale(2);
    o-transform: scale(2);
    webkit-transform: scale(2);
    transform: scale(2);
    margin: 1em;}

    .icon2 {
    moz-transform: scale(3);
    ms-transform: scale(3);
    o-transform: scale(3);
    webkit-transform: scale(3);
    transform: scale(3);
    margin: 1em 2em 1em 1em;}
}


@media screen and (min-width: 320px) and (max-width: 480px){
    .logo-img {
    align-self: flex-end;
    width: 80vw;}

    .proverb {
    margin: 0 5%;
    text-align: center;}


    #about {
        margin: 0 5%;
        color: rgba(250, 250, 250, 0.7);
        font-size: 1em;}

    .profile {
    width: 80vw;}

    .copyright {
    margin: 10vh 20vw 1vh;
    color: gray; }


    .icon {
    moz-transform: scale(2);
    ms-transform: scale(2);
    o-transform: scale(2);
    webkit-transform: scale(2);
    transform: scale(2);
    margin: 1em;
    color:rgba(47, 64, 41, 0.9);}

    .icon2 {
    moz-transform: scale(3);
    ms-transform: scale(3);
    o-transform: scale(3);
    webkit-transform: scale(3);
    transform: scale(3);
    margin: 1em 2em 1em 1em;
    color:rgba(47, 64, 41, 0.9);}
    }

    .contact-text{
    color:rgba(47, 64, 41, 0.9);}

    .card-title{
    color: rgba(47, 64, 41, 0.9);}

}
